asgiref==3.6.0
certifi==2019.3.9
chardet==3.0.4
Django==4.2
django-countries==5.3.3
django-crispy-forms==1.7.2
djangorestframework==3.14.0
pep8==1.7.1
Pillow==9.5.0
pycodestyle==2.5.0
python-decouple==3.1
pytz==2018.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.24.2
